.overlay-padre {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.7);
}

.overlay {
  width: 50%;
  background: var(--fondo);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px black;

  position: relative;
  font-size: 16px;

  display: none;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #fff;
}

.overlay img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

#btn-x {
  height: 50px;

  font-size: 2em;
  background: var(--rojo);
  border-radius: 10px;
  border: none;
  cursor: pointer;

  text-align: center;

  position: absolute;
  top: 10px;
  right: 10px;

  color: #fff;
}

.overlay-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-wrap: wrap;
}

.ano, .edad, .duracion, .genero {
  margin: 10px;
  color: #fff;
  background: #aaa;
  width: auto;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: rgb(131, 131, 131);
}

.overlay-title, .overlay-description {
  margin: 20px;
}

.overlay-title {
  font-size: 2em;
  font-weight: 600;
}

.overlay-description {
  line-height: 25px;
  margin-bottom: 30px;
}

.overlay-padre.active {
  display: flex;
}

.display {
  display: flex;
}

.ver {
  background: var(--rojo);
  border: none;
  color: #fff;
  width: 50%;
  cursor: pointer;

  text-align: center;
  margin: 20px auto;
  height: 50px;

  font-size: 2em;
  border-radius: 10px;

  transition: all 0.3s;
}

.ver:hover{
  background: #99050d;
}