.movie-recommended {
  margin-bottom: 70px;
  font-size: 16px;
}

.contenedor-title-control {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-title-control h3 {
  color: #fff;
  font-size: 1.5em;
}

.contenedor-title-control .indicadores button {
  background: #fff;
  height: 10px;
  width: 20px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
.contenedor-title-control .indicadores button.active,
.contenedor-title-control .indicadores button:hover {
  background: var(--rojo);
}

.movie-recommended .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.movie-recommended .contenedor-principal #arrow-left,
.movie-recommended .contenedor-principal #arrow-right{
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}

.movie-recommended .contenedor-principal #arrow-left {
  left: 0;
}

.movie-recommended .contenedor-principal #arrow-right {
  right: 0;
}

.movie-recommended .contenedor-principal #arrow-left:hover,
.movie-recommended .contenedor-principal #arrow-right:hover{
  background: rgba(0,0,0,0.9);
}

.movie-recommended .contenedor-carousel{
  width: 100%;
  padding: 20px 0px;
  overflow: hidden;
  /* overflow-x: scroll; */
  scroll-behavior: smooth;
}

.movie-recommended .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.movie-recommended .contenedor-carousel .carousel .movie{
  min-width: 20%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.movie-recommended .contenedor-carousel .carousel .movie:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.movie-recommended .contenedor-carousel .carousel .movie img{
  width: 100%;
  vertical-align: top;
}

